@{
    ViewBag.Title = "LogOn";
}
Login to Facebook using FB.login() method:<br/>
<input type="button" id="fblogin" value="Login to Facebook" disabled="disabled"/>
<br />
Login using Facebook Login Button plugin:<br />
<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1" perms="@ViewBag.ExtendedPermissions"></div>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '@Facebook.FacebookApplication.Current.AppId',
            channelURL: '@Request.Url.Scheme://@Request.Url.Authority@Url.Content("~/fbchannel.ashx")', // Channel File
            cookie: true,
            xfbml: true,
            oauth: true
        });

        // #region Login to Facebook using FB.login() method
        function facebooklogin() {
            FB.login(function (response) {
                if (response.authResponse) {
                    // user authorized
                    window.location.reload();
                } else {
                    // user cancelled
                }
            }, { scope: '@ViewBag.ExtendedPermissions' });
        };

        $(function () {
            // make the button is only enabled after the facebook js sdk has been loaded.
            $('#fblogin').attr('disabled', false).click(facebooklogin);
        });
        // #endregion


        // #region Login using Facebook Login Button plugin
        FB.Event.subscribe('auth.login', function (response) {
            window.location.reload();
        });
        FB.Event.subscribe('auth.logout', function (response) {
            window.location.reload();
        });
        // #endregion
    };
    
    // Load the Facebook JS SDK Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    } (document));
</script>
