@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about Facebook C# SDK visit <a target="_blank" href="http://facebooksdk.codeplex.com" title="Facebook C# SDK">http://facebooksdk.codeplex.com</a>.
</p>
