@{
    ViewBag.Title = "LogOn";
}
<style type="text/css">
.fblogin
{
    background: url('@Url.Content("~/Content/signin_facebook.png")') no-repeat 0 0;
    height: 23px;
    width: 150px;
    display: block;
    border:0;
}
.fblogin:hover
{
    background-position: 0 -24px;
}
.fblogin:active
{
    background-position: 0 -47px;
}
</style>
<h2>LogOn</h2>

<a href="@ViewBag.FacebookLoginUrl">
    <div class="fblogin"></div>
</a>