<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="facebookSettings" type="Facebook.FacebookConfigurationSection, Facebook"/>
  </configSections>
  <appSettings>
    <add key="AccessToken" value="120625701301347|960cfce137b27694f0aa6e71-100001488197778|tIF2Ld-e0iEhuDGA0KDk1NWhvIY." />
  </appSettings>
  <facebookSettings
    apiKey="ba096d8171d1f64a3156385b6ff4c549"
    apiSecret="4cfa12e564c81fbd652487c77623ca26"
    appId="120625701301347"
    cookieSupport="false"/>
</configuration>