<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="facebookSettings" type="Facebook.FacebookConfigurationSection, Facebook"/>
    </configSections>
    <facebookSettings 
        apiKey="" 
        apiSecret="" 
        appId="" 
        cookieSupport="false" />
  <appSettings>
    <add key="AccessToken" value=""/>
    <add key="UserId" value=""/>
    <add key="AlbumId" value=""/>
    <add key="TestPhotoPath" value=""/>
  </appSettings>
</configuration>