<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="facebookSettings" type="Facebook.FacebookConfigurationSection, Facebook"/>
  </configSections>
  <appSettings>
    <add key="AccessToken" value="2227470867|2.EeJ3beI3dBXM5fCe6zkFdw__.3600.1284328800-14812017|C5DpSJM7NnqaoB9uDGlpOHU0Xyc" />
  </appSettings>
  <facebookSettings
    apiKey="ba096d8171d1f64a3156385b6ff4c549"
    apiSecret="4cfa12e564c81fbd652487c77623ca26"
    appId="120625701301347"
    cookieSupport="false"/>
</configuration>