<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <section type="Facebook.FacebookConfigurationSection, Facebook" name="facebookSettings" allowLocation="true" allowDefinition="Everywhere" />
    </configSections>

    <facebookSettings
        appId = "{app id}"
        appSecret = "{app secret}"
        canvasPage = "http://apps.facebook.com/{fix this}/"
        canvasUrl = "http://localhost:1293/"
        secureCanvasUrl = "https://localhost:44300/" />

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <pages>
            <namespaces>
                <add namespace="Facebook.Web"/>
            </namespaces>
        </pages>

    </system.web>

</configuration>
