@model FacebookAuthorizeInfo
@{
    ViewBag.Title = "FacebookAuthorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.IsCancelReturn)
{
    <p>
        Seems like you denied request to facebook.
    </p>
}
<p>
You will need to <a target="_top" href="@Model.AuthorizeUrl">login</a> to facebook in order to
access this feature. 
</p>