@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>@Html.ActionLink("List of registered Facebook applications", "RegisteredFacebookApps")</li>
</ul>
