@using Facebook
@model FacebookAppSettingsCollection
           
@{
    ViewBag.Title = "Registered Facebook Applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registered Facebook Applications</h2>

@foreach (KeyValuePair<string, IFacebookAppSettings> app in Model)
{
    <p>
        @Html.Partial("FacebookApp", app)
    </p>
}