@{
    ViewBag.Title = "Facebook C# SDK ASP.NET MVC3 Canvas Application with Silverlight";
}

<h1>Facebook C# SDK ASP.NET MVC3 Canvas Application with Silverlight</h1>
<p>This sample demonstrates the use of Facebook C# SDK ASP.NET MVC3 along with Silverlight as a Facebook Canvas Application.</p>
         
<h3>Configuration before running this sample correctly.</h3>
<ol>
    <li>Create a Facebook application if you haven't at <a href="http://www.facebook.com/developers/createapp.php" target="_blank">http://www.facebook.com/developers/createapp.php</a></li>
    <li>Make sure to set the <strong>Site Url</strong> of the application correctly. (for this sample set it to: <strong><em>http://localhost:4595/</em></strong>). Remember to add the trailing slash at the end of the site url.</li>
    <li>
        Get the AppId and AppSecret and set the appropriate values in web.config file.
        <pre>&lt;facebookSettings appId = "{app_id}" appSecret = "{app_secret}"/&gt;</pre>
    </li>
    <li>Make sure to set the Canvas Page http://apps.facebook.com/<strong>canvaspage</strong>/ and update the web.config file.</li>
    <li>Set the <strong>Canvas Url</strong> to http://localhost:4595/ and update the web.config file.</li>
    <li>Set the <strong>Secure Canvas Url</strong> to https://localhost:44304/ and update the web.config file.</li>
    <li>Refresh this page.</li>
    <li>Now that you have finished configuring the application, navigate to @Html.CanvasActionLink(Facebook.FacebookApplication.Current.CanvasPage, "Index")</li>
    <li>Then navigate to @Html.CanvasActionLink(Url.CanvasAction("Index", "Facebook"), "Index", "Facebook")</li>
</ol>