@{
    ViewBag.Title = "Facebook C# SDK ASP.NET MVC3 Open Graph with Facebook JavaScript SDK";
}

<h1>Facebook C# SDK ASP.NET MVC3 Open Graph with Facebook JavaScript SDK</h1>
<p>This sample demonstrates the use of Facebook C# SDK along with the Open Graph and OAuth 2.0 feature of the Facebook Javascript SDK and ASP.NET MVC3.</p>
        
<h3>Configuration before running this sample correctly.</h3>
<p>
    This is based on the php sample at <a target="_blank" href="http://developers.facebook.com/blog/post/564/">http://developers.facebook.com/blog/post/564/</a>.
</p>
<ol>
    <li>Create a Facebook application if you haven't at <a href="http://www.facebook.com/developers/createapp.php" target="_blank">http://www.facebook.com/developers/createapp.php</a></li>
    <li>Make sure to set the <strong>Site Url</strong> of the application correctly. (for this sample set it to: <strong><em>Url.Action("Index", "Home", null, Request.Url.Scheme)</em></strong>). Remember to add the trailing slash at the end of the site url.</li>
    <li>Make sure to set the App Namespace.</li>
    <li>
        Get the AppId and AppSecret and set the appropriate values in web.config file.
        <pre>&lt;facebookSettings appId = "{app_id}" appSecret = "{app_secret}"/&gt;</pre>
    </li>
    <li>
        Get the App Namespace and set it in the appSettings.
        <pre>
&lt;appSettings&gt;
    &lt;add key="FBAppNamespace" value="{app_namespace}" /&gt;
&lt;/appSettings&gt;
        </pre>
    </li>
    <li>Now that you have finished configuring the application, navigate to @Html.ActionLink(Url.Action("Cookie", "Facebook"), "Cookie", "Facebook")</li>
</ol>