@using System.Configuration
@{
    string fbAppNamespace = ConfigurationManager.AppSettings["FBAppNamespace"];    
}
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
     xmlns:fb="https://www.facebook.com/2008/fbml">
<head prefix="og: http://ogp.me/ns# @fbAppNamespace: 
            http://ogp.me/ns/apps/@fbAppNamespace#">
    @RenderSection("head", false)
    
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    @RenderBody()
</body>
</html>
